.header-wrapper{
    background: transparent;
    position: absolute;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 30px;
}
.header-button{
    background: #fff;
}


.header{
    background: url(../../img/src/header_10/bg.png?v=2) center center;
    background-size:cover;
    min-height: 700px;
    padding-top: 70px;
}
.headers_wrapper{
    display: flex;
    justify-content: space-between;
}
.header_wrapper{
    padding-top:75px;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between
}
.logo{
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.logo svg{
    margin-right: 10px;
    margin-top: -17px;
}


.header_left{
    color: #fff;
    max-width:660px;
    text-align:left;
    padding-top: 40px;
    padding-right: 20px;
}
.header_left__title {
    font-family: "GeometriaBold", sans-serif;
    font-size: 38px;
    line-height: 120%;
    margin-bottom: 40px;
    margin-top: 80px;
}
.header_left__desc {
    font-family: "Geometria", sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 140%;
    max-width: 488px;
    color: #fff;
}
.header_left__list {
    list-style: none;
    margin-top: 40px;
}
.header_left__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
    font-family: "Geometria", sans-serif;
    font-size: 22px;
}
.header_right {
    width: 510px;
    min-width: 371px;
    max-width: 370px;
    height: 416px;
    background: #fff;
    padding: 65px 45px;
    margin-top: 100px;
    box-shadow: 0px 0px 15px #F2994A;
    position: relative;
    overflow: hidden;
}
.header_right:before{
    content: "";
    width: 480px;
    height: 480px;
    position: absolute;
    top: -28px;
    left: -50px;
    opacity: 0.5;
    border: 20px solid #ECF2F9;
    box-sizing: border-box;
    border-radius: 50%;
}
.header_right__title {
    font-family: "Geometria", sans-serif;
    font-size: 22px;
    line-height: 29px;
    color: #333;
    text-align: center;
}

.filter_item {
    margin-top: 30px;
}
.filter_item:first-child {
    margin-top: 0;
}
.filter_item__label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.filter_item__label__title {
    font-family: "Geometria", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    color: #575757;
}
.filter_item__label__input {
    max-width: 100px;
    height: 47px;
    border: none;
    background: #fff;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 15px 20px;
    font-family: "Geometria", sans-serif;
    line-height: 30px;
    margin-right: 10px;
    color: #575757;
    text-align: center;
    font-size: 18px;
}
.filter_item__label__wrapper label {
    margin-bottom: 0;
    font-family: "Geometria", sans-serif;
    color: #a2a2a2;
}
.filter_item__slider {
    margin-top: 20px;
}
.filter_desc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px;
}
.filter_desc__between {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
    position: relative;
}
.filter_desc__between:before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 90%;
    border-bottom: 1px dashed #e2dede;
}
.filter_desc__label {
    font-family: "Geometria", sans-serif;
    font-size: 12px;
    color: #5a5d62;
    line-height: 20px;
}
.filter_btn {
    width: 100%;
    height: 60px;
    line-height: 60px;
    display: block;
    margin: 0 auto;
    background: #66B72C;
    text-align: center;
    border-radius: 100px;
    font-size: 18px;
    font-family: "Geometria", sans-serif;
    color: #fff;
}
.filter_btn:hover {
    color: #fff;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}
.header_10 .checked {
    position: relative;
    background: url(../../img/src/header_10/icons/checked.svg) center center no-repeat;
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-right: 10px;
}


.header .noUi-handle{
    background: #4F7A9E;
    border: none;
}

.header .noUi-handle.noUi-active{
    box-shadow: 0px 0px 15px #F2994A!important;

}
.noUi-handle:after,
.noUi-handle:before{
    display: none;
}

.header .noUi-horizontal .noUi-handle {
    top: -6px;
    -webkit-box-shadow: 0 8px 45px rgba(88, 88, 88, 0.1);
    box-shadow: 0 8px 45px rgba(88, 88, 88, 0.1);
    outline: 0;
}
.header .noUi-connects,
.noUi-target {
    border-radius: 10px;
}
.header .noUi-target {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: url("../../img/src/header_10/price-line.svg");
    padding: 0px 16px;
}
.noUi-horizontal{
    height: 23px;
}
.header .noUi-connect {
    background:transparent;
}
.header .noUi-horizontal .noUi-handle {
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.filter{
    z-index: 1;
    position: relative;
}
@media (max-width: 769px) {

    .header{
        min-height: 618px;
        padding-bottom: 110px;
    }
    .header_wrapper {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .header_left__title{
        font-size: 22px;
    }
    .header_left__desc{
        font-size: 16px;
        max-width: 338px;
        line-height: 140%;
    }
    .header_left__item{
        font-size: 16px;
        line-height: 100%;
    }

    .header_right{
        margin-top: 65px;
    }

    .filter_item__label__title{
        font-size: 14px;
        max-width: 110px;
    }
    .filter_btn{
        height: 50px;
        line-height: 50px;
    }

}
@media (max-width: 580px) {
    .headers_wrapper {
        flex-direction: column;
    }
    .header{
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 130px;
    }

    .header .noUi-horizontal .noUi-handle{
        top: -4px;
    }
    .header_left__title {
        font-size: 18px;
        line-height: 120%;
        margin-bottom: 20px;
        margin-top: 18px;
    }
    .header_left__desc {
        font-size: 14px;
        line-height: 140%;
    }
    .header_left__desc:before {
        display: none;
    }
    .header_left__item {
        font-size: 14px;
        margin-bottom: 10px;
        line-height: 100%;
    }
    .header_left__list {
        margin-top: 20px;
    }
    .header_right {
        height: 380px;
        padding: 30px 20px;
        max-width: 380px;
        margin: 20px auto 30px auto;
        width: 100%;
        min-width: 100%;
    }
    .header_right:before{
        left: -10%;
        width: 120%;
        height: 120%;
    }
    .header_right__title {
        text-align: center;
    }
    .filter {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
    }
    .header .noUi-target{
        background-size: contain;
        padding: 0 10px;
    }

    .noUi-horizontal {
        height: 24px;
    }


    .filter_item {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
        margin-top: 25px;
    }
    .filter_btn {
        width: 100%;
    }
}
