.header-wrapper{
    background: transparent;
    position: absolute;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 30px;
    padding-left: 108px;
}
.header-button{
    background: #fff;
}

.header_7.header {
    height: auto;
    background: url(../../img/src/header_7/bg.png?v=2) center center;
    background-repeat: no-repeat!important;
    padding-bottom: 60px;
    background-size: contain!important;
    background-color: #f0f0f0;
    min-height: 700px;
    background-position: 73% 100%!important;
}
.header_7 .header_wrapper {
    padding-top: 170px;
}

.header_7 .logo{
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.header_7 .logo svg{
    margin-right: 10px;
    margin-top: -17px;
}

.header_7 .header_left {
    color: #fff;
    max-width: 635px;
    padding-left: 93px;
}
.header_7 .header_left__title {
    font-family: "GeometriaBold", sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
}
.header_7 .header_left__desc {
    font-family: "Geometria", sans-serif;
    font-size: 20px;
    line-height: 140%;
    position: relative;
    margin-top: 20px;
    max-width: 430px;
}

.header_7 .header_left__list {
    list-style: none;
    margin-top: 25px;
}
.header_7 .header_left__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
    font-family: "Geometria", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.header_7 .header_left__item, .header_left__desc{
    font-size: 20px;
    line-height: 100%;
    color: #fff;
    font-weight: normal;
    font-family: "Geometria", sans-serif;
}

.header_7 .header_right {
    width: 300px;
    height: 325px;
    background: #fff;
    -webkit-box-shadow: 0 8px 45px rgba(88, 88, 88, 0.1);
    box-shadow: 0 8px 45px rgba(88, 88, 88, 0.1);
    border-radius: 10px;
    padding: 40px 20px;
    border: 5px solid #bfee5d;
}
.header_7 .header_right__title {
    font-family: "Geometria", sans-serif;
    font-size: 18px;
    line-height: 29px;
    color: #2a2a2a;
    text-align: center;
}
.header_7 .filter {
    margin-top: 40px;
}
.header_7 .filter_item {
    margin-top: 50px;
}
.header_7 .filter_item__label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.header_7 .filter_item__label__title {
    font-family: "Geometria", sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #2a2a2a;
}
.header_7 .filter_item__label__input {
    max-width: 110px;
    height: 35px;
    border-radius: 6px;
    border: 1px solid #e6e6e6;
    background: #fff;
    color: #000;
    font-family: "Geometria", sans-serif;
    font-size: 16px;
    line-height: 35px;
    margin-right: 10px;
    text-align: right;
    padding: 0 10px;
}
.header_7 .filter_item__label__wrapper label {
    margin-bottom: 0;
    font-family: gotham-regular, sans-serif;
    color: #a2a2a2;
}
.header_7 .filter_item__slider {
    margin-top: 20px;
}
.header_7 .filter_desc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px;
}
.header_7 .filter_desc__between {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
    position: relative;
}
.header_7 .filter_desc__between:before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 90%;
    border-bottom: 1px dashed #e2dede;
}
.header_7 .filter_desc__label {
    font-family: "Geometria", sans-serif;
    font-size: 12px;
    color: #5a5d62;
    line-height: 20px;
}
.header_7 .header_btn {
    width: 240px;
    height: 40px;
    line-height: 40px;
    display: block;
    margin: 0 auto;
    background: #451470;
    text-align: center;
    border-radius: 100px;
    font-size: 16px;
    font-family: "Geometria", sans-serif;
    color: #fff;
}
.header_7 .header_btn:hover {
    color: #fff;
}
.header_7 input[type="number"] {
    -moz-appearance: textfield;
}
.header_7 input[type="number"]::-webkit-inner-spin-button,
.header_7 input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}
.header_7 .checked {
    position: relative;
    background: url(../../img/src/header_7/icons/check-mark.svg) center center no-repeat;
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-right: 10px;
}
.header_7 .noUi-handle:before {
    background: url(../../img/src/header_6/icons/left.svg) center center;
    background-repeat: no-repeat;
    width: 6px;
    height: 11px;
}
.header_7 .noUi-handle:after {
    background: url(../../img/src/header_6/icons/right.svg) center center;
    background-repeat: no-repeat;
    width: 6px;
    height: 11px;
}
.header_7 .noUi-handle:before {
    left: 8px;
    top: 9px;
}
.header_7 .noUi-handle:after {
    top: 9px;
}
.header_7 .noUi-horizontal .noUi-handle {
    top: -25px;
    -webkit-box-shadow: 0 8px 45px rgba(88, 88, 88, 0.1);
    box-shadow: 0 8px 45px rgba(88, 88, 88, 0.1);
    outline: 0;
}
.header_7 .noUi-connects,
.header_7 .noUi-target {
    border-radius: 10px;
}
.header_7 .noUi-target {
    border: 1px solid #e7e7e7;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.header_7 .noUi-connect {
    background: transparent;
}
.noUi-horizontal .noUi-handle {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    right: -7px;
}

.header_7 .noUi-horizontal {
    height: 11px;
    background: transparent;
    border: none;
}

.header_7 .noUi-horizontal .noUi-handle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url("../../img/src/header_7/price-vircle-bg.svg"), #4F7A9E;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 69%;
    border: 1px solid transparent;
}

.header_7 .noUi-handle:before, .noUi-handle:after {
    display: none;
}
.header_7 .noUi-base, .noUi-connects{
    background: transparent;
}

.header_7 .filer_wrapper{
    margin-top: 40px;
    width: 100%;
    min-height: 120px;
    background: #FFFFFF;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
    border-radius: 90px;
    padding: 0 45px 0 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.header_7 .filer_wrapper:after{
    content: "";
    width: 160px;
    height: 160px;
    opacity: 0.5;
    position: absolute;
    border-radius: 50%;
    left: 61%;
    border: 14px solid #ECF2F9;
    box-sizing: border-box;

}
.header_7 .filer_wrapper a{
    background: #F2994A;
    border-radius: 40px;
    width: 280px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    z-index: 1;
}
.header_7 .filer_wrapper .filter_item{
    width: 75%;
    height: 80px;
    margin-right: 40px;
    background: url("../../img/src/header_7/price-line.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 0;
    padding-top: 35px;
    z-index: 1;
    position: relative;
}
.header_7 .price_digital input{
    border: none;
    background: transparent;
    color: #fff;
    font-size: 14px;
    padding-right: 0;
    margin: 0;
}
.header_7 .price_digital label{
    color: #fff;
    font-size: 14px;
}
.header_7 .price_digital{
    position: absolute;
    top: 0;
}
.header_7 .noUi-tooltip{
    border: none;
    padding: 0;
    background: transparent;
    bottom: 100%!important;
    font-size: 16px;
}
.header_7 .noUi-tooltip:after{
    content: " ₴";
}
.header_7 .noUi-horizontal{
    padding-left: 20px;
}


@media (max-width: 769px) {
    .header_7.header {
        background-size: 62%;
        height: 550px;
        background-position: 100% 100%!important;
        min-height: auto;
        padding-top: 75px;
    }
    .header_7 .header_wrapper {
        flex-direction: column;
        padding: 45px;
    }
    .header_7 .header_left__title{
        font-size: 22px;
    }
    .header_7 .header_left__item, .header_7 .header_left__desc{
        font-size: 16px;
    }
    .header_7 .header_left {
        color: #fff;
        max-width: 386px;
        padding-left: 30px;
    }

    .header_7 .noUi-horizontal {
        padding-left: 0px;
        padding-right: 10px
    }

    .header_7 .header_right {
        width: 100%;
        height: auto;
        margin-top: 30px;
    }
    .header_7 .filter_item__slider {
        flex: 1 1;
        margin-top: 0;
        margin-right: 30px;
    }
    .header_7 .filter_item__label__title {
        margin-right: 30px;
        order: 1;
    }
    .header_7 .filter_item__label__wrapper {
        order: 3;
    }
    .header_7 .filter_item__slider {
        order: 2;
    }
    html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
        left: 31px;
    }
    .header_7 .filter_item {
        margin-top: 20px;
    }
    .header_7 .filter {
        margin-top: 25px;
    }

    .header_7 .filer_wrapper{
        min-height: 100px;
    }
    .header_7 .noUi-horizontal .noUi-handle{
        width: 40px;
        height: 40px;
    }
    .header_7 .noUi-horizontal .noUi-handle{
        top: -14px;
    }
    .header_7 .noUi-tooltip{
        font-size: 14px;
    }
    .header_7 .filer_wrapper a{
        height: 50px;
    }
    .header_7 .filer_wrapper:after{
        width: 140px;
        height: 140px;
        border: 12px solid #ECF2F9;
        left: 47%;
    }
    .header_7 .header_left__desc{
        max-width: 335px;
    }
    .header-wrapper{
        padding-left: 78px;
        margin-top: 0;
    }
}

@media (max-width: 580px) {
    .header_7.header {
        background-size: 62%;
        background-position: 50% 75%;
        height: 790px;
        padding-top: 120px;
    }
    .header-wrapper{
        padding-left: 0;
    }
    .header_7 .header_left{
        padding-left: 0;
    }
    .header_7 .header_wrapper {
        padding: 40px 20px 0 20px;
    }
    .header_7 .header_left__title {
        font-size: 18px;
        line-height: 120%;
    }
    .header_7 .header_left__desc {
        max-width: 100%;
        font-size: 14px;
        line-height: 20px;
    }
    .header_7 .header_left__item, .header_left__desc{
        max-width: 100%;
        font-size: 14px;
    }
    .header_7 .filter_item__slider {
        margin-right: 0;
        margin-top: 25px;
    }
    .header_7 .filter_item {
        margin-top: 30px;
    }
    html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
        left: 32px;
    }
    .header_7 .filer_wrapper{
        flex-direction: column;
        padding: 20px 16px;
        border-radius: 0;
        width: calc(100% + 40px);
        margin-left: -20px;
        box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
        margin-top: 206px;
    }
    .header_7 .filer_wrapper .filter_item{
        margin: auto;
        width: 93%;
    }
    .header_7 .filer_wrapper a{
        margin: auto;
        width: 93%;
        height: 50px;
    }
    .header_7 .filer_wrapper:after{
        left: 82%;
        top: -15px;
    }
    .header_7 .noUi-horizontal {
        padding-right: 28px;
    }
}
