
body{
    font-family: "Geometria", sans-serif;
}

.offers_list{
    display: flex;
    flex-wrap: wrap;
}

.offers_title{
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #575757;
    margin-bottom: 40px;
    padding-top: 50px;
}

.new_design_offer{
    width: 33.33%;
    padding-left: 38px;
    padding-right: 38px;
    border-left: 2px solid #9CD153;
    border-right: 2px solid #9CD153;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.new_design_offer:nth-child(3n+2){
    border-left: none;
    border-right: none;
}

.new_design_offer .logo_wrapper{
    text-align: center;
    margin-bottom: 20px;
}

.new_design_offer .logo_wrapper img{
    max-width: 175px;
}

.new_design_offer a.get_credit{
    background: #F2994A;
    border-radius: 50px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.new_design_offer .item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 40px;
}
.new_design_offer .item:last-child{
    margin-bottom: 0;
}

.new_design_offer .blue_text{
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    color: #2A658A;
    padding: 0 40px;
    margin: 20px 0;
}

.new_design_offer .item .title{
    font-size: 14px;
    line-height: 120%;
    color: #575757;
}

.new_design_offer .item .value{
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    text-align: right;
    color: #575757;
}

@media (min-width: 580px) and (max-width: 769px){
    .new_design_offer .item .title{
        font-size: 12px;
    }
    .new_design_offer .item .value{
        font-size: 12px;
    }
    .new_design_offer .blue_text{
        font-size: 12px;
        padding: 0 10px;
    }
    .new_design_offer{
        padding-left: 18px;
        padding-right: 18px;
    }
    .new_design_offer .item{
        padding: 0 10px;
    }
    .new_design_offer a.get_credit{
        height: 40px;
        font-size: 16px;
        line-height: 16px;
    }
}

@media (max-width: 579px){
    .offers_title{
        font-weight: bold;
        font-size: 16px;
        line-height: 120%;
    }
    .new_design_offer{
        width: 50%;
        padding-left: 13px;
        padding-right: 13px;
    }
    .new_design_offer .blue_text,
    .new_design_offer .item{
        padding: 0;
    }
    .new_design_offer .blue_text{
        margin: 15px 0 20px 0;
    }
    .new_design_offer:nth-child(3n+2) {
        border-left: 2px solid #9CD153;
        border-right: 2px solid #9CD153;
    }
    .new_design_offer:nth-child(2n){
        border-left: none;
    }

    .new_design_offer .item .title{
        font-size: 10px;
    }
    .new_design_offer .item .value{
        font-size: 10px;
    }
    .new_design_offer .blue_text{
        font-size: 10px;
    }

    .new_design_offer a.get_credit{
        height: 30px;
        font-size: 11px;
        line-height: 10px;
    }

    .new_design_offer .logo_wrapper img {
        max-width: 88px;
    }

}
